## Coding Exercise 3 - Parsing Dates

### Question 1: How much time has passed?

Saat mengerjakan proyek Data Science, kita mungkin menemukan data dalam format Tanggal yang merujuk pada titik waktu tertentu. Mereka sering datang dalam format yang sangat berbeda - beberapa mungkin hanya memiliki tanggal, beberapa mungkin memiliki bulan dan tahun, dan beberapa bahkan memiliki waktu yang tepat (jam, menit, detik) dan zona waktu.

Clue: Anda dapat menggunakan library apa pun untuk membantu Anda.

Dalam latihan ini, explore beberapa cara untuk memuat string yang memberi tahu kita tanggal sehingga kita dapat menghitung perbedaan antara dua tanggal input.

Anda akan diminta untuk menulis fungsi bernama `duration_count` yang mengambil 2 input. Kedua input adalah string yang memberi tahu Anda tanggalnya. Output fungsi Anda haruslah durasi antara 2 input, dalam detik.

Format inputnya adalah: "Tanggal Bulan Tahun Jam:Menit:Detik Informasi_Zona_Waktu"

#### Contoh 1:

- Input 1 = 'Mon 23 Feb 2017 14:41:10 -0800'
- Input 2 = 'Mon 23 Feb 2017 14:41:10 -0200'

Kedua input merujuk pada tanggal dan waktu yang sama, tetapi dalam zona waktu yang berbeda. Oleh karena itu, durasi antara kedua tanggal ini adalah: 6 jam. Namun, karena kita ingin jawaban dalam detik, jawaban yang diharapkan adalah 21600 detik. (Outputnya hanya 21600, Anda tidak perlu menulis detik).

#### Contoh 2:

- Input 1 = 'Mon 23 Dec 2017 14:00:00 -0700'
- Input 2 = 'Tue 24 Dec 2017 14:00:00 -0700'

Kedua input merujuk pada waktu yang sama dan berada di zona waktu yang sama. Namun, mereka berjarak 1 hari. Oleh karena itu, durasi antara mereka adalah: 1 hari = 1 x 24 x 3600 = 86400 detik.

#### Extra Clue:

Format harinya disingkat (kita input Mon alih-alih Monday), dan bulannya juga disingkat (kita input Dec alih-alih December).

In [1]:
from datetime import datetime, timedelta

def duration_count(input_1, input_2):
    date_format = '%a %d %b %Y %H:%M:%S %z'
    date1 = datetime.strptime(input_1, date_format)
    date2 = datetime.strptime(input_2, date_format)

    duration = abs(date2 - date1)

    seconds = duration.total_seconds()

    return int(seconds)

In [2]:
input1 = 'Mon 23 Feb 2017 14:41:10 -0800'
input2 = 'Mon 23 Feb 2017 14:41:10 -0200'
output1 = duration_count(input1, input2)
print(f"Durasi antara input 1 dan input 2: {output1} detik")

Durasi antara input 1 dan input 2: 21600 detik

In [3]:
input3 = 'Mon 23 Dec 2017 14:00:00 -0700'
input4 = 'Tue 24 Dec 2017 14:00:00 -0700'
output2 = duration_count(input3, input4)
print(f"Durasi antara input 3 dan input 4: {output2} detik")

Durasi antara input 3 dan input 4: 86400 detik

### Question 2: What Day is It?

Dalam data time series, kita biasanya ingin tahu hari apa itu. Biasanya tidak cukup hanya mengetahui 'angka' tanggal, terutama ketika hari yang sangat penting untuk data kita (misalnya: analisis perilaku pelanggan). Dalam skenario analisis perilaku pelanggan, kita mungkin menemukan perilaku yang berbeda pada Monday - Friday vs Saturday - Sunday (akhir pekan). Mengetahui hari juga memungkinkan kita untuk memetakan beberapa musim.

Diberikan 3 input: tanggal pertama, lalu bulan, dan terakhir tahun. Bisakah Anda memberi tahu kami hari apa itu? Anda dapat menggunakan library apa pun yang Anda inginkan. Nama fungsi Anda harus bernama `find_day`.

#### Contoh 1:

`find_day(11,10,2021)` harus memberikan output "Monday", karena 11 October 2021 adalah hari Senin.

#### Contoh 2:

`find_day(17,8,1945)` harus memberikan output "Friday", karena 17 Agustus 1945 adalah hari Jumat.

In [4]:
def find_day(day, month, year):
    date_obj = datetime(year, month, day)

    day_name = date_obj.strftime('%A')

    return day_name

In [5]:
result1 = find_day(11, 10, 2021)
print(f"Hari untuk tanggal 11 October 2021: {result1}")

Hari untuk tanggal 11 October 2021: Monday

In [6]:
result2 = find_day(17, 8, 1945)
print(f"Hari untuk tanggal 17 Agustus 1945: {result2}")

Hari untuk tanggal 17 Agustus 1945: Friday